In [1]:
import datetime

In [12]:
import boto3


s3 = boto3.resource('s3')
bucket = s3.Bucket('doh-inspection-storage')
f = bucket.objects.filter()
latest = [obj.key for obj in sorted(f, key=lambda x: x.last_modified, reverse=True)][0]

s3 = boto3.client('s3')
with open('update.csv', 'wb') as f:
    s3.download_fileobj('doh-inspection-storage', latest, f)

In [2]:
# start = datetime.datetime.now()
# import pandas as pd

# df = pd.read_csv('new_file.csv')

# df = df[(df['inspection_type'].str.contains('Cycle')) | 
# (df['inspection_type'].str.contains('Pre')) |
#        (pd.isna(df['inspection_type']))]

# df.rename(columns={'record_date':'last_seen'}, inplace=True)
# df['violation_code'] = df['violation_code'].apply(lambda x: '' if pd.isna(x) else x)
# df['score'] = df['score'].apply(lambda x: '' if pd.isna(x) else x)


# df['inspection_date'] = pd.to_datetime(df['inspection_date'])
# df['last_seen'] = pd.to_datetime(df['last_seen'])
# df['grade_date'] = pd.to_datetime(df['grade_date'])
# df['first_seen'] = df['last_seen'].copy()


# df['key'] = df['camis'].astype(str) + '-' + df['inspection_date'].astype(str) + '-' + df['violation_code']
# df['inspection_id'] = df['camis'].astype(str) + '-' + df['inspection_date'].astype(str)

# df.sort_values(['camis','inspection_date'], inplace=True)
# df.drop_duplicates(subset='key',inplace=True)
# df.reset_index(inplace=True, drop=True)


# unopened = df[df['inspection_date']=='1900-01-01'][['camis', 'dba', 'boro', 'building', 'street', 'zipcode', 'phone',
#        'cuisine_description', 'last_seen', 'latitude', 'longitude',
#        'community_board', 'council_district', 'census_tract', 'bin', 'bbl',
#        'nta', 'first_seen']]

# restaurants = df[['camis', 'dba', 'boro', 'building', 'street', 'zipcode', 'phone',
#        'cuisine_description', 'last_seen', 'latitude', 'longitude',
#        'community_board', 'council_district', 'census_tract', 'bin', 'bbl',
#        'nta', 'first_seen']].drop_duplicates('camis')

# inspections = df.drop_duplicates(subset='inspection_id')[['camis', 'inspection_date', 'action', 
#                                                 'score', 'grade',
#                                                 'grade_date', 'last_seen', 'inspection_type', 
#                                                 'inspection_id', 'first_seen']]

# violations = df[['inspection_id','violation_code','score','first_seen','last_seen','key']]

# print(datetime.datetime.now()-start)

0:00:10.251549

In [1]:
def prepare_data(file):
    import pandas as pd
    df = pd.read_csv(file)

    df = df[(df['inspection_type'].str.contains('Cycle')) | 
    (df['inspection_type'].str.contains('Pre')) |
           (pd.isna(df['inspection_type']))]

    df.rename(columns={'record_date': 'last_seen'}, inplace=True)
    df['violation_code'] = df['violation_code'].apply(lambda x: '' if pd.isna(x) else x)
    df['score'] = df['score'].apply(lambda x: '' if pd.isna(x) else x)


    df['inspection_date'] = pd.to_datetime(df['inspection_date'])
    df['last_seen'] = pd.to_datetime(df['last_seen'])
    df['grade_date'] = pd.to_datetime(df['grade_date'])
    df['first_seen'] = df['last_seen'].copy()


    df['key'] = df['camis'].astype(str) + '-' + df['inspection_date'].astype(str) + '-' + df['violation_code']
    df['inspection_id'] = df['camis'].astype(str) + '-' + df['inspection_date'].astype(str)

    df.sort_values(['camis','inspection_date'], inplace=True)
    df.drop_duplicates(subset='key',inplace=True)
    df.reset_index(inplace=True, drop=True)


    unopened = df[df['inspection_date']=='1900-01-01'][['camis', 'dba', 'boro', 'building', 'street', 'zipcode', 'phone',
           'cuisine_description', 'last_seen', 'latitude', 'longitude',
           'community_board', 'council_district', 'census_tract', 'bin', 'bbl',
           'nta', 'first_seen']]

    restaurants = df[['camis', 'dba', 'boro', 'building', 'street', 'zipcode', 'phone',
           'cuisine_description', 'last_seen', 'latitude', 'longitude',
           'community_board', 'council_district', 'census_tract', 'bin', 'bbl',
           'nta', 'first_seen']].drop_duplicates('camis')

    inspections = df.drop_duplicates(subset='inspection_id')[['camis', 'inspection_date', 'action', 
                                                    'score', 'grade',
                                                    'grade_date', 'last_seen', 'inspection_type', 
                                                    'inspection_id', 'first_seen']]

    violations = df[['inspection_id','violation_code','score','first_seen','last_seen','key']]
    
    return (restaurants, unopened, inspections, violations)

In [ ]:
restaurants, unopened, inspections, violations = prepare_data('update.csv')

In [3]:
from sqlalchemy import create_engine
engine = create_engine('postgresql://postgres:makers@localhost:5432/new_doh')

In [4]:
restaurants.to_sql('restaurants', engine, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute('ALTER TABLE restaurants ADD PRIMARY KEY (camis);')

In [7]:
unopened.to_sql('unopened', engine, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute('ALTER TABLE unopened ADD PRIMARY KEY (camis);')

In [8]:
violations.to_sql('violations', engine, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute('ALTER TABLE violations ADD PRIMARY KEY (key);')

In [9]:
inspections.to_sql('inspections', engine, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute('ALTER TABLE inspections ADD PRIMARY KEY (inspection_id);')

------------------------------------

In [5]:
import psycopg2

connection = psycopg2.connect(user="postgres",
                              password="makers",
                              host='localhost',
                              port="5432",
                              database="new_doh")

In [ ]:

cursor = connection.cursor()

cursor.execute("""CREATE TABLE new_restaurants AS (SELECT * FROM restaurants) WITH NO DATA;""")


rows = zip(restaurants.camis,restaurants.dba,restaurants.boro,restaurants.building,
restaurants.street,restaurants.zipcode,restaurants.phone,
restaurants.cuisine_description,restaurants.last_seen,restaurants.latitude,
restaurants.longitude,restaurants.community_board,restaurants.council_district,
restaurants.census_tract,restaurants.bin,restaurants.bbl,restaurants.nta,restaurants.first_seen)

cursor.executemany("""INSERT INTO new_restaurants (camis, dba, boro, building, street, zipcode, phone, cuisine_description, last_seen, latitude, longitude,
        community_board, council_district, census_tract, bin, bbl, nta, first_seen) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);""", rows)

connection.commit()

cursor.execute("""
    UPDATE new_restaurants
    SET first_seen = restaurants.first_seen
    FROM restaurants
    WHERE new_restaurants.camis = restaurants.camis;
    """)

connection.commit()

cursor.execute("""UPDATE restaurants
    SET dba = new_restaurants.dba,
     boro = new_restaurants.boro,
     building = new_restaurants.building,
     street = new_restaurants.street,
     zipcode = new_restaurants.zipcode,
     phone = new_restaurants.phone,
     cuisine_description = new_restaurants.cuisine_description,
     last_seen = new_restaurants.last_seen,
     latitude = new_restaurants.latitude,
     longitude = new_restaurants.longitude,
     community_board = new_restaurants.community_board,
     council_district = new_restaurants.council_district,
     census_tract = new_restaurants.census_tract,
     bin = new_restaurants.bin,
     bbl = new_restaurants.bbl,
     nta = new_restaurants.nta
    FROM new_restaurants
    WHERE restaurants.camis = new_restaurants.camis;""")

connection.commit()
cursor.close()

In [81]:
cursor = connection.cursor()

cursor.execute("""CREATE TABLE new_violations AS (SELECT * FROM violations) WITH NO DATA;""")


rows = zip(violations.inspection_id,violations.violation_code,violations.score,
violations.first_seen,violations.last_seen,violations.key)

cursor.executemany("""INSERT INTO new_violations (inspection_id, violation_code, score, first_seen, last_seen, key)
        VALUES (%s, %s, %s, %s, %s, %s);""", rows)

connection.commit()

cursor.execute("""
    UPDATE new_violations
    SET first_seen = violations.first_seen
    FROM violations
    WHERE new_violations.key = violations.key;
    """)

connection.commit()

cursor.execute("""UPDATE violations
    SET violation_code = new_violations.violation_code,
    score = new_violations.score,
    first_seen = new_violations.first_seen,
    last_seen = new_violations.last_seen
    FROM new_violations
    WHERE violations.key = new_violations.key;""")

connection.commit()
cursor.close()

In [ ]:
cursor = connection.cursor()

cursor.execute("""CREATE TABLE new_unopened AS (SELECT * FROM unopened) WITH NO DATA;""")


rows = zip(unopened.camis,unopened.dba,unopened.boro,unopened.building,
unopened.street,unopened.zipcode,unopened.phone,
unopened.cuisine_description,unopened.last_seen,unopened.latitude,
unopened.longitude,unopened.community_board,unopened.council_district,
unopened.census_tract,unopened.bin,unopened.bbl,unopened.nta,unopened.first_seen)

cursor.executemany("""INSERT INTO new_unopened (camis, dba, boro, building, street, zipcode, phone, cuisine_description, last_seen, latitude, longitude,
        community_board, council_district, census_tract, bin, bbl, nta, first_seen)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);""", rows)

connection.commit()

cursor.execute("""
    UPDATE new_unopened
    SET first_seen = unopened.first_seen
    FROM unopened
    WHERE new_unopened.camis = unopened.camis;
    """)

connection.commit()

cursor.execute("""UPDATE unopened
    SET dba = new_unopened.dba,
     boro = new_unopened.boro,
     building = new_unopened.building,
     street = new_unopened.street,
     zipcode = new_unopened.zipcode,
     phone = new_unopened.phone,
     cuisine_description = new_unopened.cuisine_description,
     last_seen = new_unopened.last_seen,
     latitude = new_unopened.latitude,
     longitude = new_unopened.longitude,
     community_board = new_unopened.community_board,
     council_district = new_unopened.council_district,
     census_tract = new_unopened.census_tract,
     bin = new_unopened.bin,
     bbl = new_unopened.bbl,
     nta = new_unopened.nta
    FROM new_unopened
    WHERE unopened.camis = new_unopened.camis;""")

connection.commit()
cursor.close()

In [97]:
cursor = connection.cursor()

# cursor.execute("""CREATE TABLE new_inspections AS (SELECT * FROM inspections) WITH NO DATA;""")


# rows = zip(inspections.camis,inspections.inspection_date,inspections.action,
# inspections.score,inspections.grade,inspections.grade_date,inspections.last_seen,
# inspections.inspection_type,inspections.inspection_id,inspections.first_seen)

# cursor.executemany("""INSERT INTO new_inspections (camis, inspection_date, 
#         action, score, grade, grade_date, last_seen, inspection_type, inspection_id, first_seen)
#         VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s);""", rows)

# connection.commit()


inspections.to_sql('new_inspections', engine, if_exists="replace", index=False)
with engine.connect() as con:
    con.execute('ALTER TABLE new_inspections ADD PRIMARY KEY (inspection_id);')

cursor.execute("""
    UPDATE new_inspections
    SET first_seen = inspections.first_seen
    FROM inspections
    WHERE new_inspections.camis = inspections.camis;
    """)

connection.commit()

cursor.execute("""UPDATE inspections
    SET camis = inspections.camis,
    inspection_date = inspections.inspection_date,
    action = inspections.action,
    score = inspections.score,
    grade = inspections.grade,
    grade_date = inspections.grade_date,
    last_seen = inspections.last_seen,
    inspection_type = inspections.inspection_type
    FROM new_inspections
    WHERE inspections.inspection_id = new_inspections.inspection_id;""")

connection.commit()
cursor.close()

In [95]:
cursor.close()
connection.close()

In [ ]:
import psycopg2

connection = psycopg2.connect(user="postgres",
                              password="makers",
                              host='localhost',
                              port="5432",
                              database="new_doh")
cursor = connection.cursor()

In [109]:


cursor.execute('''SELECT * FROM inspections LIMIT 25''')

In [9]:
import pandas as pd
pd.read_sql('''SELECT camis, inspection_date, score, last_seen, inspection_type
FROM inspections WHERE inspection_date <> '1900-01-01 00:00:00' ''', connection)

,camis,inspection_date,score,last_seen,inspection_type
0,40752416,2016-10-05,7.0,2020-04-28 06:00:42,Cycle Inspection / Initial Inspection
1,40752416,2017-12-12,11.0,2020-04-28 06:00:42,Cycle Inspection / Initial Inspection
2,40752416,2018-10-30,20.0,2020-04-28 06:00:42,Cycle Inspection / Initial Inspection
3,40752416,2018-11-20,11.0,2020-04-28 06:00:42,Cycle Inspection / Re-inspection
4,40752416,2019-04-29,68.0,2020-04-28 06:00:42,Cycle Inspection / Initial Inspection
...,...,...,...,...,...
128456,40746560,2018-09-11,12.0,2020-04-28 06:00:42,Cycle Inspection / Re-inspection
128457,40746560,2019-05-11,25.0,2020-04-28 06:00:42,Cycle Inspection / Initial Inspection
128458,40746560,2019-08-13,13.0,2020-04-28 06:00:42,Cycle Inspection / Re-inspection
128459,40746560,2019-12-06,50.0,2020-04-28 06:00:42,Cycle Inspection / Initial Inspection
128460,40746560,2020-02-04,12.0,2020-04-28 06:00:42,Cycle Inspection / Re-inspection

In [ ]:
# rows = zip(df.camis,df.dba,df.boro,df.building,df.street,df.zipcode,df.phone,
#       df.cuisine_description,df.inspection_date,df.action,df.violation_code,
#       df.violation_description,df.critical_flag,df.score,df.grade,
#       df.grade_date,df.last_seen,df.inspection_type,df.latitude,df.longitude,
#       df.community_board,df.council_district,df.census_tract,df.bin,df.bbl,
#       df.nta,df.key,df.first_seen)

rows = zip(df.dba,df.inspection_date,df.action,df.violation_code,
      df.violation_description,df.critical_flag,df.score,df.grade,
      df.grade_date,df.last_seen,df.inspection_type,df.key,df.first_seen)

In [ ]:
connection = psycopg2.connect(user="postgres",
                              password="makers",
                              host='localhost',
                              port="5432",
                              database="doh")

cursor = connection.cursor()
cursor.execute("""CREATE TABLE table_new AS (SELECT * FROM table_name) WITH NO DATA;""")

cursor.executemany("""INSERT INTO table_new (camis, dba, boro, building, street, zipcode, phone,
cuisine_description, inspection_date, action, violation_code,
violation_description, critical_flag, score, grade,
grade_date, last_seen, inspection_type, latitude, longitude,
community_board, council_district, census_tract, bin, bbl,
nta, key, first_seen) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);""", rows)

connection.commit()

cursor.execute("""
    UPDATE table_new
    SET first_seen = table_name.first_seen
    FROM table_name
    WHERE table_new.key = table_name.key;
    """)

connection.commit()

cursor.execute("""UPDATE table_name
    SET camis = table_new.camis,
     dba = table_new.dba,
     boro = table_new.boro,
     building = table_new.building,
     street = table_new.street,
     zipcode = table_new.zipcode,
     phone = table_new.phone,
     cuisine_description = table_new.cuisine_description,
     inspection_date = table_new.inspection_date,
     action = table_new.action,
     violation_code = table_new.violation_code,
     violation_description = table_new.violation_description,
     critical_flag = table_new.critical_flag,
     score = table_new.score,
     grade = table_new.grade,
     grade_date = table_new.grade_date,
     last_seen = table_new.last_seen,
     inspection_type = table_new.inspection_type,
     latitude = table_new.latitude,
     longitude = table_new.longitude,
     community_board = table_new.community_board,
     council_district = table_new.council_district,
     census_tract = table_new.census_tract,
     bin = table_new.bin,
     bbl = table_new.bbl,
     nta = table_new.nta,
     key = table_new.key,
     first_seen = table_new.first_seen
    FROM table_new
    WHERE table_new.key = table_name.key;""")


connection.commit()
cursor.close()
connection.close()

BELOW HERE IS TRIAL AND ERROR

BELOW HERE IS SCRAP ARCHIVE

In [ ]:
df = pd.read_csv('new_file.csv')
df.rename(columns={'record_date':'last_seen'}, inplace=True)
df['violation_code'] = df['violation_code'].apply(lambda x: '' if pd.isna(x) else x)
df['key'] = df['camis'].astype(str) + df['inspection_date'] + df['violation_code']
df['first_seen'] = df['last_seen'].copy()
df.sort_values(['camis','inspection_date'], inplace=True)
df.drop_duplicates(subset='key', inplace=True)
df.reset_index(inplace=True, drop=True)

In [ ]:
connection = psycopg2.connect(user="postgres",
                              password="makers",
                              host='localhost',
                              port="5432",
                              database="doh")

cursor = connection.cursor()

cursor.execute("""
    UPDATE table_new
    SET first_seen = table_name.first_seen
    FROM table_name
    WHERE table_new.key = table_name.key;
    """)

In [ ]:
connection.commit()
cursor.close()
connection.close()

In [ ]:
connection = psycopg2.connect(user="postgres",
                              password="makers",
                              host='localhost',
                              port="5432",
                              database="doh")

cursor = connection.cursor()

In [ ]:
recs[:20]

In [ ]:
# connection = psycopg2.connect(user="postgres",
#                               password="makers",
#                               host='localhost',
#                               port="5432",
#                               database="doh")

# cursor = connection.cursor()


# cursor.execute("SELECT * FROM table_name WHERE key = (%s)", (update_list[0],))
# recs = cursors.fetchall()

if recs:
    print('Record Found')
    sql_update_query = """UPDATE table_name SET last_seen = %s WHERE key = %s"""
    cursor.execute(sql_update_query, (df.loc[0,'last_seen'], df.loc[0,'key']))
    connection.commit()
    count = cur.rowcount
    print(count, "Record Updated successfully ")
    
    
else:
    print('No Record Found')
    sql_update_query = """INSERT INTO table_name (`camis`, `dba`, `boro`, `building`, `street`, 
       `zipcode`, `phone`, `cuisine_description`, `inspection_date`, `action`, `violation_code`,
       `violation_description`, `critical_flag`, `score`, `grade`,
       `grade_date`, `last_seen`, `inspection_type`, `latitude`, `longitude`,
       `community_board`, `council_district`, `census_tract`, `bin`, `bbl`,
       `nta`, `key`, `first_seen`) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
       %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    cursor.execute(sql_update_query, new)
   

# else:
#     print('other error')

# sql_update_query = """Update table_name set last_seen = %s where key = %s"""
# cur.execute(sql_update_query, (last_update[0], update_list[0]))
connection.commit()
# count = cur.rowcount
# print(count, "Record Updated successfully ")
# if (connection):
#     cursor.close()
#     connection.close()
#     print("PostgreSQL connection is closed")

In [ ]:
# connection = psycopg2.connect(user="postgres",
#                               password="makers",
#                               host='localhost',
#                               port="5432",
#                               database="doh")

# cursor = connection.cursor()
# cursor.execute("""CREATE TABLE codelist(id TEXT, z TEXT)""")
# # cursor.execute("""CREATE TEMP TABLE codelist(id TEXT, z TEXT) ON COMMIT DROP""")

# cursor.executemany("""INSERT INTO codelist (camis, dba, boro, building, street, zipcode, phone,
# cuisine_description, inspection_date, action, violation_code,
# violation_description, critical_flag, score, grade,
# grade_date, last_seen, inspection_type, latitude, longitude,
# community_board, council_district, census_tract, bin, bbl,
# nta, key, first_seen) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
#        %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)""", rows)
# connection.commit()